.navComponent {
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    height: 90px;
    border-bottom: 1px solid white;
    transition: 1s ease-in-out;
}

.smallNavComp {
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 100;
    box-shadow: 0px 0px 10px 0px;
    height: 80px;
    background-color: white;
    transition: 1s ease-in-out;
}








/*------ LEFT */

.navLeft {
    /* width: 100%; */
    /* width: 50vw; */
    margin: auto;
    padding-right: 20px;
    text-align: left;
    margin-left: 40px;
    /* background-color: red; */
}

.navLeft>div {
    display: inline-block;
    margin: 0;
}


.Logo {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    color: white;
}

.Logo>div {
    font-family: 'PT Serif';
    font-size: .95em;
}

.Logo :nth-child(2) {
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 5px;
}

.Logo :nth-child(3) {
    margin-left: 8px;
    padding-top: 2px;
    padding-right: 1px;
}

.Logo :nth-child(4) {
    margin-left: 4px;
    padding-top: 2px;
}








/*------ CENTER */

.navCenter {
    width: 50vw;
    display: flex;
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: none;
}




.navLinks {
    display: flex;
    width: 65%;
    margin: auto;
}

.navLinks>div {
    text-align: center;
}







.active {
    color: white;
    text-decoration: none;
    font-weight: 400;
    padding: 8px;
    border-bottom: 2px solid #FF6710;
}

.inactive {
    color: white;
    text-decoration: none;
    font-weight: 400;
    padding: 8px;
    border-bottom: 2px solid transparent;
}



.quoteButton {
    width: 35%;
    text-align: right;
    padding-right: 20px;
    margin: auto;
}

.quoteButton>a {
    text-decoration: none;
    display: inline-block;
}

.quoteButton>a>div {
    display: flex;
    color: whitesmoke;
    background-color: #FF6710;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.quoteButton>a>div>div {
    font-size: 1em;
    padding: 2px;
    padding-left: 7px;
    padding-right: px;
}

.quoteButton>a>div>svg {
    margin: auto;
}









/*------ RIGHT */



.navRight {
    /* width: 20vw; */
    margin: auto;
    /* display: none; */
    /* background-color: pink; */

}




.navRight>div {
    display: flex;
}

.navRight>div>div {
    border: 1px solid grey;
}


.navRight>div>a {
    display: none;
    text-decoration: none;
    color: white;
    font-weight: 700;
    
}

.navRight>div>a>svg {
    margin: auto;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid white;
    
}

.navRight>div>a>div {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: .9em;
    
}

/* .navRight>div>div {
    margin-left: auto;
    margin-right: 100px;
    border: 1px solid yellow;
} */






/* --------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 965px) {

    .navLeft {
        width: 30vw;
        transition: .2s ease-out;
    }






    .navCenter {
        width: 70vw;
        display: flex;
        border-left: 1px solid white;
        border-right: 1px solid white;
        /* background-color: red; */
        transition: .2s ease-out;
    }


    .navRight {
        width: 25vw;
        margin: auto;
        /* background-color: red; */
        display: none;
        transition: .2s ease-out;
    }

    .navRight>div>a {
        display: flex;
        ;
    }



}




/* --------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 1100px) {



    .navComponent {
        position: fixed;
        /* top: 0; */
        width: 100%;
        z-index: 100;
        display: flex;
        height: 110px;
        /* padding: 50px; */
        /* background-color: black; */
        border-bottom: 1px solid white;
        transition: 1s ease-in-out;
    }




    .navCenter {
        width: 50vw;
        display: flex;
        border-left: 1px solid white;
        border-right: 1px solid white;
        /* background-color: purple; */
    }



    .navRight {
        width: 25vw;
        margin: auto;
        /* background-color: purple; */
        display: inline;
    }


    .navRight>div {
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
    }
    .navRight>div>div {
        margin-left: auto;
        margin-right: auto;
        border: 1px solid grey;
    }


}


/* --------------------------------------------------------------------------------------------------------- */








































/* --------------------------------------------------------------------------------------------------------->
dynamic */



/* body {
    background-color: lightblue;
  }
  
  @media screen and (min-width: 400px) {
    body {
      background-color: lightgreen;
    }
  }
  
  @media screen and (min-width: 800px) {
    body {
      background-color: lavender;
    }
  } */